div.nav {float: right;
  margin-bottom: 20px;
  display:block;
  width: 100%;
}

div.nav li {float: right;
  background-color: #D1112F;
}

div.nav li a {color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

div.nav li a:hover {background-color: #EEEEEE;
  color: black;
}

div.nav ul {list-style-type: none;
  margin: 0;
  padding: 0;
}

.nar {width: 40%;

}

button.btns {border-radius: 100%;
  display: inline-block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  border: none;
  background-color: gray;
}

img.slides {width: 60%;
  position: relative;
  left: 20%;
  margin-top: 20px;
}

table {margin-left: 15%;
  margin-right: 15%;
}

.person {margin-left: 20%;
  margin-right: 20%;
}

.profile ul, img {display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.next {cursor: pointer;
  position: absolute;
  top: 60%;
  right: 20%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
}

.prev {cursor: pointer;
  position: absolute;
  top: 60%;
  left: 23%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
