div.nav {float: right;
  margin-bottom: 20px;
  width: 1366px;
  overflow: hidden;
}

div.nav li {float: right;
  background-color: #D1112F;
}

div.nav li a {color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

div.nav li a:hover {background-color: #EEEEEE;
  color: black;
}

div.nav ul {list-style-type: none;
  margin: 0;
  padding: 0;
}

.nar {width: 40%;
}

.btns {border-radius: 100%;
  display: inline-block;
  text-align: center;
  padding: 7px;
  margin: 5px;
  text-decoration: none;
  border: none;
  background-color: gray;
  transition: 0.4s ease;
}

.active, .btns:hover {background-color: #3d3d3d;
  cursor: pointer;
}

img.slides {width: 60%;
  position: relative;
  left: 19%;
  margin-top: 20px;
  transition: 0.6s ease;
}

table {align-self: center;
  margin-left: 15%;
  margin-right: 15%;
}

.person {margin-left: 20%;
  margin-right: 20%;
}

.profile ul, img {display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.next {cursor: pointer;
  position: absolute;
  top: 50%;
  right: 258px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
}

.prev {cursor: pointer;
  position: absolute;
  top: 50%;
  left: 272px;
  padding: 21px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {background-color: #707070;
}

body {width: 1325px;
  text-align: center;
  align-items: center;
}

#slideshow {position: relative;
  width: 1325px;
}
